[submodule "TestingAutomationFoundations/test-automation-foundations-728391"]
	path = TestingAutomationFoundations/test-automation-foundations-728391
	url = https://github.com/GiselJi/test-automation-foundations-728391.git
